---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/elastic/beats/commits/fe25c73907336fc462d5e6e059d3cd86512484fe/pulls
    method: GET
  response:
    body: '[{"url":"https://api.github.com/repos/elastic/beats/pulls/31396","id":917247303,"node_id":"PR_kwDOAPya8842rBVH","html_url":"https://github.com/elastic/beats/pull/31396","diff_url":"https://github.com/elastic/beats/pull/31396.diff","patch_url":"https://github.com/elastic/beats/pull/31396.patch","issue_url":"https://api.github.com/repos/elastic/beats/issues/31396","number":31396,"state":"open","locked":false,"title":"Update
      dissect.asciidoc","user":{"login":"gemaliano","id":46450383,"node_id":"MDQ6VXNlcjQ2NDUwMzgz","avatar_url":"https://avatars.githubusercontent.com/u/46450383?v=4","gravatar_id":"","url":"https://api.github.com/users/gemaliano","html_url":"https://github.com/gemaliano","followers_url":"https://api.github.com/users/gemaliano/followers","following_url":"https://api.github.com/users/gemaliano/following{/other_user}","gists_url":"https://api.github.com/users/gemaliano/gists{/gist_id}","starred_url":"https://api.github.com/users/gemaliano/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gemaliano/subscriptions","organizations_url":"https://api.github.com/users/gemaliano/orgs","repos_url":"https://api.github.com/users/gemaliano/repos","events_url":"https://api.github.com/users/gemaliano/events{/privacy}","received_events_url":"https://api.github.com/users/gemaliano/received_events","type":"User","site_admin":false},"body":"<!--
      Type of change\r\nPlease label this PR with one of the following labels, depending
      on the scope of your change:\r\n- Bug\r\n- Enhancement\r\n- Breaking change\r\n-
      Deprecation\r\n- Cleanup\r\n- Docs\r\n-->\r\n\r\n## What does this PR do?\r\n\r\n<!--
      Mandatory\r\nExplain here the changes you made on the PR. Please explain the
      WHAT: patterns used, algorithms implemented, design architecture, message processing,
      etc.\r\n-->\r\n\r\n## Why is it important?\r\n\r\n<!-- Mandatory\r\nExplain
      here the WHY, or the rationale/motivation for the changes.\r\n-->\r\n\r\n##
      Checklist\r\n\r\n<!-- Mandatory\r\nAdd a checklist of things that are required
      to be reviewed in order to have the PR approved\r\n\r\nList here all the items
      you have verified BEFORE sending this PR. Please DO NOT remove any item, striki[...]
