---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/elastic/elastic-agent-changelog-tool/pulls/29/files
    method: GET
  response:
    body: '[{"sha":"7cdeb2a18aca8dd5e7d6215558aafe594165c442","filename":"README.md","status":"modified","additions":16,"deletions":0,"changes":16,"blob_url":"https://github.com/elastic/elastic-agent-changelog-tool/blob/0b0321d62950fea6230515d29846f942f27a5005/README.md","raw_url":"https://github.com/elastic/elastic-agent-changelog-tool/raw/0b0321d62950fea6230515d29846f942f27a5005/README.md","contents_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/contents/README.md?ref=0b0321d62950fea6230515d29846f942f27a5005","patch":"@@
      -6,6 +6,22 @@ Tooling to manage the changelog for beats, Elastic Agent and Fleet
      Server\n `git` CLI should be installed and available.\n [`go-licenser`](https://github.com/elastic/go-licenser)
      CLI should be installed and available.\n \n+## Usage\n+\n+Install following
      one of the methods provided in [docs/install.md].\n+\n+To get started look into
      [docs/getting-started.md]\n+\n+Look at [docs/usage.md] for detailed usage guidelines.
      \n+\n+Look into [docs/con[...]
