---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/elastic/elastic-agent-changelog-tool/pulls/33/files
    method: GET
  response:
    body: '[{"sha":"56589b5ad4361dcb7e076f56dd11bab5b7003b48","filename":".github/workflows/pull-request.yaml","status":"modified","additions":3,"deletions":4,"changes":7,"blob_url":"https://github.com/elastic/elastic-agent-changelog-tool/blob/8f260191f005a2622b33d4c671b6cbf3b719965e/.github%2Fworkflows%2Fpull-request.yaml","raw_url":"https://github.com/elastic/elastic-agent-changelog-tool/raw/8f260191f005a2622b33d4c671b6cbf3b719965e/.github%2Fworkflows%2Fpull-request.yaml","contents_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/contents/.github%2Fworkflows%2Fpull-request.yaml?ref=8f260191f005a2622b33d4c671b6cbf3b719965e","patch":"@@
      -85,9 +85,8 @@ jobs:\n         with:\n           go-version: \"${{steps.version.outputs.go}}\"\n
      \n-      - name: install go-licenser\n-        run: \"go get github.com/elastic/go-licenser\"\n-\n       -
      name: check license\n         # -d returns files without proper header\n-        run:
      \"go run github.com/elastic/go-licenser -license Elasticv2 -d\"\n+        run:
      |\n+          GOBIN=$PWD/bin go install github.com/elastic/go-licenser@latest\n+          ./bin/go-licenser
      -license Elasticv2 -d"},{"sha":"1a534b92b08673b775f9207e86e20709a16f5208","filename":"Makefile","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://github.com/elastic/elastic-agent-chang[...]
