---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/elastic/beats/commits/8800e5f6ad5beb024dee141a2639630b79a99a37/pulls
    method: GET
  response:
    body: '[{"url":"https://api.github.com/repos/elastic/beats/pulls/30626","id":868013730,"node_id":"PR_kwDOAPya884zvNai","html_url":"https://github.com/elastic/beats/pull/30626","diff_url":"https://github.com/elastic/beats/pull/30626.diff","patch_url":"https://github.com/elastic/beats/pull/30626.patch","issue_url":"https://api.github.com/repos/elastic/beats/issues/30626","number":30626,"state":"closed","locked":false,"title":"[main](backport
      #29209) Disable mongodb TestFetch in replstatus_integration_test.go","user":{"login":"mergify[bot]","id":37929162,"node_id":"MDM6Qm90Mzc5MjkxNjI=","avatar_url":"https://avatars.githubusercontent.com/in/10562?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify%5Bbot%5D","html_url":"https://github.com/apps/mergify","followers_url":"https://api.github.com/users/mergify%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"This
      is an automatic backport of pull request #29209 done by [Mergify](https://mergify.com).\n\n\n---\n\n\n<details>\n<summary>Mergify
      commands and options</summary>\n\n<br />\n\nMore conditions and actions can
      be found in the [documentation](https://docs.mergify.com/).\n\nYou can also
      trigger Mergify actions by commenting on this pull request:\n\n- `@Mergifyio
      refresh` will re-evaluate the rules\n- `@Mergifyio rebase` will rebase this
      PR on its base branch\n- `@Mergifyio update` will merge the base branch into
      this PR\n- `@Mergifyio backport <destination>` will backport this PR on `<destination>`
      branch\n\nAdditionally, on Mergify [dashboard](https://dashboard.mergify.com/)
      you can:\n\n- look at your merge queues\n- generate the Mergify configuration
      with the config editor.\n\nFinally, you can contact us on https://mergify.com\n</details>\n","created_at":"2022-03-01T15:56:03Z","updated_at":"2022-03-01T17:35:00Z","closed_at":"2022-03-01T16:30:14Z","merged_at":"2022-03-01T16:30:14Z","merge_commit_sha":"8800e5f6ad5beb024dee141a2639630b79a99a37","assignee":{"login":"kaiyan-sheng","id":14081635,"node_id":"MDQ6VXNlcjE0MDgxNjM1","avatar_url":"https://avatars.githubusercontent.com/u/14081635?v=4","gravatar_id":"","url":"https://api.github.com/users/kaiyan-sheng","html_url":"https://github.com/kaiyan-sheng","followers_url":"https://api.github.com/users/kaiyan-sheng/followers","following_url":"https://api.github.com/users/kaiyan-sheng/following{/other_user}","gists_url":"https://api.github.com/users/kaiyan-sheng/gists{/gist_id}","starred_url":"https://api.github.com/users/kaiyan-sheng/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kaiyan-sheng/subscriptions","organizations_url":"https://api.github.com/users/kaiyan-sheng/orgs","repos_url":"https://api.github.com/users/kaiyan-sheng/repos","events_url":"https://api.github.com/users/kaiyan-sheng/events{/privacy}","received_events_url":"https://api.github.com/users/kaiyan-sheng/received_events","type":"User","site_admin":false},"assignees":[{"login":"kaiyan-sheng","id":14081635,"node_id":"MDQ6VXNlcjE0MDgxNjM1","avatar_url":"https://avatars.githubusercontent.com/u/14081635?v=4","gravatar_id":"","url":"https://api.github.com/users/kaiyan-sheng","html_url":"https://github.com/kaiyan-sheng","followers_url":"https://api.github.com/users/kaiyan-sheng/followers","following_url":"https://api.github.com/users/kaiyan-sheng/following{/other_user}","gists_url":"https://api.github.com/users/kaiyan-sheng/gists{/gist_id}","starred_url":"https://api.github.com/users/kaiyan-sheng/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kaiyan-sheng/subscriptions","organizations_url":"https://api.github.com/users/kaiyan-sheng/orgs","repos_url":"https://api.github.com/users/kaiyan-sheng/repos","events_url":"https://api.github.com/users/kaiyan-sheng/events{/privacy}","received_events_url":"https://api.github.com/users/kaiyan-sheng/received_events","type":"User","site_admin":false}],"requested_reviewers":[],"requested_teams":[],"labels":[{"id":306831030,"node_id":"MDU6TGFiZWwzMDY4MzEwMzA=","url":"https://api.github.com/repos/elastic/beats/labels/backport","name":"backport","color":"e99695","default":false,"description":null},{"id":1135227315,"node_id":"MDU6TGFiZWwxMTM1MjI3MzE1","url":"https://api.github.com/repos/elastic/beats/labels/Team:Integrations","name":"Team:Integrations","color":"1d76db","default":false,"description":"Label
      for the Integrations team"}],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/elastic/beats/pulls/30626/commits","review_comments_url":"https://api.github.com/repos/elastic/beats/pulls/30626/comments","review_comment_url":"https://api.github.com/repos/elastic/beats/pulls/comments{/number}","comments_url":"https://api.github.com/repos/elastic/beats/issues/30626/comments","statuses_url":"https://api.github.com/repos/elastic/beats/statuses/b8cf1e7995393db980ffffad4504a5175de450b8","head":{"label":"elastic:mergify/bp/main/pr-29209","ref":"mergify/bp/main/pr-29209","sha":"b8cf1e7995393db980ffffad4504a5175de450b8","user":{"login":"elastic","id":6764390,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY3NjQzOTA=","avatar_url":"https://avatars.githubusercontent.com/u/6764390?v=4","gravatar_id":"","url":"https://api.github.com/users/elastic","html_url":"https://github.com/elastic","followers_url":"https://api.github.com/users/elastic/followers","following_url":"https://api.github.com/users/elastic/following{/other_user}","gists_url":"https://api.github.com/users/elastic/gists{/gist_id}","starred_url":"https://api.github.com/users/elastic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/elastic/subscriptions","organizations_url":"https://api.github.com/users/elastic/orgs","repos_url":"https://api.github.com/users/elastic/repos","events_url":"https://api.github.com/users/elastic/events{/privacy}","received_events_url":"https://api.github.com/users/elastic/received_events","type":"Organization","site_admin":false},"repo":{"id":16554739,"node_id":"MDEwOlJlcG9zaXRvcnkxNjU1NDczOQ==","name":"beats","full_name":"elastic/beats","private":false,"owner":{"login":"elastic","id":6764390,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY3NjQzOTA=","avatar_url":"https://avatars.githubusercontent.com/u/6764390?v=4","gravatar_id":"","url":"https://api.github.com/users/elastic","html_url":"https://github.com/elastic","followers_url":"https://api.github.com/users/elastic/followers","following_url":"https://api.github.com/users/elastic/following{/other_user}","gists_url":"https://api.github.com/users/elastic/gists{/gist_id}","starred_url":"https://api.github.com/users/elastic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/elastic/subscriptions","organizations_url":"https://api.github.com/users/elastic/orgs","repos_url":"https://api.github.com/users/elastic/repos","events_url":"https://api.github.com/users/elastic/events{/privacy}","received_events_url":"https://api.github.com/users/elastic/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/elastic/beats","description":":tropical_fish:
      Beats - Lightweight shippers for Elasticsearch & Logstash ","fork":false,"url":"https://api.github.com/repos/elastic/beats","forks_url":"https://api.github.com/repos/elastic/beats/forks","keys_url":"https://api.github.com/repos/elastic/beats/keys{/key_id}","collaborators_url":"https://api.github.com/repos/elastic/beats/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/elastic/beats/teams","hooks_url":"https://api.github.com/repos/elastic/beats/hooks","issue_events_url":"https://api.github.com/repos/elastic/beats/issues/events{/number}","events_url":"https://api.github.com/repos/elastic/beats/events","assignees_url":"https://api.github.com/repos/elastic/beats/assignees{/user}","branches_url":"https://api.github.com/repos/elastic/beats/branches{/branch}","tags_url":"https://api.github.com/repos/elastic/beats/tags","blobs_url":"https://api.github.com/repos/elastic/beats/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/elastic/beats/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/elastic/beats/git/refs{/sha}","trees_url":"https://api.github.com/repos/elastic/beats/git/trees{/sha}","statuses_url":"https://api.github.com/repos/elastic/beats/statuses/{sha}","languages_url":"https://api.github.com/repos/elastic/beats/languages","stargazers_url":"https://api.github.com/repos/elastic/beats/stargazers","contributors_url":"https://api.github.com/repos/elastic/beats/contributors","subscribers_url":"https://api.github.com/repos/elastic/beats/subscribers","subscription_url":"https://api.github.com/repos/elastic/beats/subscription","commits_url":"https://api.github.com/repos/elastic/beats/commits{/sha}","git_commits_url":"https://api.github.com/repos/elastic/beats/git/commits{/sha}","comments_url":"https://api.github.com/repos/elastic/beats/comments{/number}","issue_comment_url":"https://api.github.com/repos/elastic/beats/issues/comments{/number}","contents_url":"https://api.github.com/repos/elastic/beats/contents/{+path}","compare_url":"https://api.github.com/repos/elastic/beats/compare/{base}...{head}","merges_url":"https://api.github.com/repos/elastic/beats/merges","archive_url":"https://api.github.com/repos/elastic/beats/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/elastic/beats/downloads","issues_url":"https://api.github.com/repos/elastic/beats/issues{/number}","pulls_url":"https://api.github.com/repos/elastic/beats/pulls{/number}","milestones_url":"https://api.github.com/repos/elastic/beats/milestones{/number}","notifications_url":"https://api.github.com/repos/elastic/beats/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/elastic/beats/labels{/name}","releases_url":"https://api.github.com/repos/elastic/beats/releases{/id}","deployments_url":"https://api.github.com/repos/elastic/beats/deployments","created_at":"2014-02-05T19:01:02Z","updated_at":"2022-04-26T12:30:12Z","pushed_at":"2022-04-26T14:39:33Z","git_url":"git://github.com/elastic/beats.git","ssh_url":"git@github.com:elastic/beats.git","clone_url":"https://github.com/elastic/beats.git","svn_url":"https://github.com/elastic/beats","homepage":"https://www.elastic.co/products/beats","size":389653,"stargazers_count":10926,"watchers_count":10926,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":4419,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1096,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":["filebeat","heartbeat","metricbeat","packetbeat","winlogbeat"],"visibility":"public","forks":4419,"open_issues":1096,"watchers":10926,"default_branch":"main"}},"base":{"label":"elastic:main","ref":"main","sha":"577a34c3ac25eaf7c752c3f0daf0b55ea8e671c2","user":{"login":"elastic","id":6764390,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY3NjQzOTA=","avatar_url":"https://avatars.githubusercontent.com/u/6764390?v=4","gravatar_id":"","url":"https://api.github.com/users/elastic","html_url":"https://github.com/elastic","followers_url":"https://api.github.com/users/elastic/followers","following_url":"https://api.github.com/users/elastic/following{/other_user}","gists_url":"https[...]
