---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/elastic/beats/commits/56df883ca93b11816206dad401c49a2c96fa268d/pulls
    method: GET
  response:
    body: '[{"url":"https://api.github.com/repos/elastic/beats/pulls/30859","id":881339194,"node_id":"PR_kwDOAPya8840iCs6","html_url":"https://github.com/elastic/beats/pull/30859","diff_url":"https://github.com/elastic/beats/pull/30859.diff","patch_url":"https://github.com/elastic/beats/pull/30859.patch","issue_url":"https://api.github.com/repos/elastic/beats/issues/30859","number":30859,"state":"closed","locked":false,"title":"allow
      multi instance sql server","user":{"login":"cwuethrich","id":9810788,"node_id":"MDQ6VXNlcjk4MTA3ODg=","avatar_url":"https://avatars.githubusercontent.com/u/9810788?v=4","gravatar_id":"","url":"https://api.github.com/users/cwuethrich","html_url":"https://github.com/cwuethrich","followers_url":"https://api.github.com/users/cwuethrich/followers","following_url":"https://api.github.com/users/cwuethrich/following{/other_user}","gists_url":"https://api.github.com/users/cwuethrich/gists{/gist_id}","starred_url":"https://api.github.com/users/cwuethrich/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cwuethrich/subscriptions","organizations_url":"https://api.github.com/users/cwuethrich/orgs","repos_url":"https://api.github.com/users/cwuethrich/repos","events_url":"https://api.github.com/users/cwuethrich/events{/privacy}","received_events_url":"https://api.github.com/users/cwuethrich/received_events","type":"User","site_admin":false},"body":"Please
      label this PR with one of the following labels, depending on the scope of your
      change:\r\n- Bug\r\n\r\n## What does this PR do?\r\n\r\nThis pull requests allow
      to use metricbeat with MSSQL and named instances.\r\n\r\n## Why is it important?\r\n\r\nBigger
      companies often don''t use MSSQL in a docker container. Often they have one
      server with multiple named instances. This change allows them to use metricbeat
      as well.\r\n\r\n## Checklist\r\n\r\n~~- [ ] My code follows the style guidelines
      of this project~~\r\n~~- [ ] I have commented my code, particularly in hard-to-understand
      areas~~\r\n~~- [ ] I have made corresponding changes to the documentation~~\r\n~~-
      [ ] I have made corresponding change to the default configuration files~~\r\n~~-
      [ ] I have added tests that prove my fix is effective or that my feature works~~\r\n-
      [x] I have added an entry in `CHANGELOG.next.asciidoc` or `CHANGELOG-developer.next.asciidoc`.\r\n\r\n##
      Author''s Checklist\r\n\r\n- [ ] Verify changes SQL statement\r\n\r\n## How
      to test this PR locally\r\n\r\n## Related issues\r\n\r\n- Closes #24076\r\n\r\n##
      Use cases\r\n\r\n## Screenshots\r\n\r\n## Logs\r\n","created_at":"2022-03-16T13:10:12Z","updated_at":"2022-04-25T22:56:08Z","closed_at":"2022-04-25T22:56:08Z","merged_at":"2022-04-25T22:56:07Z","merge_commit_sha":"56df883ca93b11816206dad401c49a2c96fa268d","assignee":{"login":"cwuethrich","id":9810788,"node_id":"MDQ6VXNlcjk4MTA3ODg=","avatar_url":"https://avatars.githubusercontent.com/u/9810788?v=4","gravatar_id":"","url":"https://api.github.com/users/cwuethrich","html_url":"https://github.com/cwuethrich","followers_url":"https://api.github.com/users/cwuethrich/followers","following_url":"https://api.github.com/users/cwuethrich/following{/other_user}","gists_url":"https://api.github.com/users/cwuethrich/gists{/gist_id}","starred_url":"https://api.github.com/users/cwuethrich/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cwuethrich/subscriptions","organizations_url":"https://api.github.com/users/cwuethrich/orgs","repos_url":"https://api.github.com/users/cwuethrich/repos","events_url":"https://api.github.com/users/cwuethrich/events{/privacy}","received_events_url":"https://api.github.com/users/cwuethrich/received_events","type":"User","site_admin":false},"assignees":[{"login":"cwuethrich","id":9810788,"node_id":"MDQ6VXNlcjk4MTA3ODg=","avatar_url":"https://avatars.githubusercontent.com/u/9810788?v=4","gravatar_id":"","url":"https://api.github.com/users/cwuethrich","html_url":"https://github.com/cwuethrich","followers_url":"https://api.github.com/users/cwuethrich/followers","following_url":"https://api.github.com/users/cwuethrich/following{/other_user}","gists_url":"https://api.github.com/users/cwuethrich/gists{/gist_id}","starred_url":"https://api.github.com/users/cwuethrich/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cwuethrich/subscriptions","organizations_url":"https://api.github.com/users/cwuethrich/orgs","repos_url":"https://api.github.com/users/cwuethrich/repos","events_url":"https://api.github.com/users/cwuethrich/events{/privacy}","received_events_url":"https://api.github.com/users/cwuethrich/received_events","type":"User","site_admin":false}],"requested_reviewers":[{"login":"fearful-symmetry","id":8418476,"node_id":"MDQ6VXNlcjg0MTg0NzY=","avatar_url":"https://avatars.githubusercontent.com/u/8418476?v=4","gravatar_id":"","url":"https://api.github.com/users/fearful-symmetry","html_url":"https://github.com/fearful-symmetry","followers_url":"https://api.github.com/users/fearful-symmetry/followers","following_url":"https://api.github.com/users/fearful-symmetry/following{/other_user}","gists_url":"https://api.github.com/users/fearful-symmetry/gists{/gist_id}","[...]
