---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/elastic/beats/commits/fe25c73907336fc462d5e6e059d3cd86512484fe/pulls
    method: GET
  response:
    body: '[{"url":"https://api.github.com/repos/elastic/beats/pulls/31482","id":925353528,"node_id":"PR_kwDOAPya8843J8Y4","html_url":"https://github.com/elastic/beats/pull/31482","diff_url":"https://github.com/elastic/beats/pull/31482.diff","patch_url":"https://github.com/elastic/beats/pull/31482.patch","issue_url":"https://api.github.com/repos/elastic/beats/issues/31482","number":31482,"state":"open","locked":false,"title":"[8.1](backport
      #30979) [Metricbeat] gcp: fix dataproc fields","user":{"login":"mergify[bot]","id":37929162,"node_id":"MDM6Qm90Mzc5MjkxNjI=","avatar_url":"https://avatars.githubusercontent.com/in/10562?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify%5Bbot%5D","html_url":"https://github.com/apps/mergify","followers_url":"https://api.github.com/users/mergify%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"This
      is an automatic backport of pull request #30979 done by [Mergify](https://mergify.com).\nCherry-pick
      of f6469709464eeae1bcfb22f7938a80d4353506ad has failed:\n```\nOn branch mergify/bp/8.1/pr-30979\nYour
      branch is up to date with ''origin/8.1''.\n\nYou are currently cherry-picking
      commit f646970946.\n  (fix conflicts and run \"git cherry-pick --continue\")\n  (use
      \"git cherry-pick --skip\" to skip this patch)\n  (use \"git cherry-pick --abort\"
      to cancel the cherry-pick operation)\n\nChanges to be committed:\n\tmodified:   x-pack/metricbeat/module/gcp/metrics/metricset.go\n\tmodified:   x-pack/metricbeat/module/gcp/metrics/timeseries.go\n\tmodified:   x-pack/metricbeat/module/gcp/timeseries_metadata_collector.go\n\nUnmerged
      paths:\n  (use \"git add/rm <file>...\" as appropriate to mark resolution)\n\tboth
      modified:   metricbeat/docs/fields.asciidoc\n\tdeleted by us:   x-pack/metricbeat/module/gcp/dataproc/_meta/fields.yml\n\tdeleted
      by us:   x-pack/metricbeat/module/gcp/dataproc/manifest.yml\n\tboth modified:   x-pack/metricbeat/module/gcp/fields.go\n\tboth
      modified:   x-pack/metricbeat/module/gcp/metrics/metrics_requester.go\n\tboth
      modified:   x-pack/metricbeat/module/gcp/metrics/response_parser.go\n\n```\n\n\nTo
      fix up this pull request, you can check it out locally. See documentation: https://docs.github.com/en/github/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/checking-out-pull-requests-locally\n\n---\n\n\n<details>\n<summary>Mergify
      commands and options</summary>\n\n<br />\n\nMore conditions and actions can
      be found in the [documentation](https://docs.mergify.com/).\n\nYou can also
      trigger Mergify actions by commenting on this pull request:\n\n- `@Mergifyio
      refresh` will re-evaluate the rules\n- `@Mergifyio rebase` will rebase this
      PR on its base branch\n- `@Mergifyio update` will merge the base branch into
      this PR\n- `@Mergifyio backport <destination>` will backport this PR on `<destination>`
      branch\n\nAdditionally, on Mergify [dashboard](https://dashboard.mergify.com/)
      you can:\n\n- look at your merge queues\n- generate the Mergify configuration
      with the config editor.\n\nFinally, you can contact us on https://mergify.com\n</details>\n","created_at":"2022-05-02T09:04:27Z","updated_at":"2022-06-06T04:35:27Z","closed_at":null,"merged_at":null,"merge_commit_sha":"27430e7b878a3d58411a803ace9b76f136a4ab55","assignee":{"login":"gpop63","id":94497545,"node_id":"U_kgDOBaHrCQ","avatar_url":"https://avatars.githubusercontent.com/u/94497545?v=4","gravatar_id":"","url":"https://api.github.com/users/gpop63","html_url":"https://github.com/gpop63","followers_url":"https://api.github.com/users/gpop63/followers","following_url":"https://api.github.com/users/gpop63/following{/other_user}","gists_url":"https://api.github.com/users/gpop63/gists{/gist_id}","starred_url":"https://api.github.com/users/gpop63/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gpop63/subscriptions","organizations_url":"https://api.github.com/users/gpop63/orgs","repos_url":"https://api.github.com/users/gpop63/repos","events_url":"https://api.github.com/users/gpop63/events{/privacy}","received_events_url":"https://api.github.com/users/gpop63/received_events","type":"User","site_admin":false},"assignees":[{"login":"gpop63","id":94497545,"node_id":"U_kgDOBaHrCQ","avatar_url":"https://avatars.githubusercontent.com/u/94497545?v=4","gravatar_id":"","url":"https://api.github.com/users/gpop63","html_url":"https://github.com/gpop63","followers_url":"https://api.github.com/users/gpop63/followers","following_url":"https://api.github.com/users/gpop63/following{/other_user}","gists_url":"https://api.github.com/users/gpop63/gists{/gist_id}","starred_url":"https://api.github.com/users/gpop63/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gpop63/subscriptions","organizations_url":"https://api.github.com/users/gpop63/orgs","repos_url":"https://api.github.com/users/gpop63/repos","events_url":"https://api.github.com/users/gpop63/events{/privacy}","received_events_url":"https://api.github.com/users/gpop63/received_events","type":"User","site_admin":false}],"requested_reviewers":[],"requested_teams":[],"labels":[{"id":306831030,"node_id":"MDU6TGFiZWwzMDY4MzEwMzA=","url":"https://api.github.com/repos/elastic/beats/labels/backport","name":"backport","color":"e99695","default":false,"description":null},{"id":2893152460,"node_id":"MDU6TGFiZWwyODkzMTUyNDYw","url":"https://api.github.com/repos/elastic/beats/labels/conflicts","name":"conflicts","color":"B60205","default":false,"description":"There
      is a conflict in the backported pull request"},{"id":3782881140,"node_id":"LA_kwDOAPya887hei90","url":"https://api.github.com/repos/elastic/beats/labels/Team:Cloud-Monitoring","name":"Team:Cloud-Monitoring","color":"1d76db","default":false,"description":"Label
      for the Cloud Monitoring team"}],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/elastic/beats/pulls/31482/commits","review_comments_url":"https://api.github.com/repos/elastic/beats/pulls/31482/comments","review_comment_url":"https://api.github.com/repos/elastic/beats/pulls/comments{/number}","comments_url":"https://api.github.com/repos/elastic/beats/issues/31482/comments","statuses_url":"https://api.github.com/repos/elastic/beats/statuses/b70854dfc91e8934b8b158ff3dff05b2234c940b","head":{"label":"elastic:mergify/bp/8.1/pr-30979","ref":"mergify/bp/8.1/pr-30979","sha":"b70854dfc91e8934b8b158ff3dff05b2234c940b","user":{"login":"elastic","id":6764390,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY3NjQzOTA=","avatar_url":"https://avatars.githubusercontent.com/u/6764390?v=4","gravatar_id":"","url":"https://api.github.com/users/elastic","html_url":"https://github.com/elastic","followers_url":"https://api.github.com/users/elastic/followers","following_url":"https://api.github.com/users/elastic/following{/other_user}","gists_url":"https://api.github.com/users/elastic/gists{/gist_id}","starred_url":"https://api.github.com/users/elastic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/elastic/subscriptions","organizations_url":"https://api.github.com/users/elastic/orgs","repos_url":"https://api.github.com/users/elastic/repos","events_url":"https://api.github.com/users/elastic/events{/privacy}","received_events_url":"https://api.github.com/users/elastic/received_events","type":"Organization","site_admin":false},"repo":{"id":16554739,"node_id":"MDEwOlJlcG9zaXRvcnkxNjU1NDczOQ==","name":"beats","full_name":"elastic/beats","private":false,"owner":{"login":"elastic","id":6764390,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY3NjQzOTA=","avatar_url":"https://avatars.githubusercontent.com/u/6764390?v=4","gravatar_id":"","url":"https://api.github.com/users/elastic","html_url":"https://github.com/elastic","followers_url":"https://api.github.com/users/elastic/followers","following_url":"https://api.github.com/users/elastic/following{/other_user}","gists_url":"https://api.github.com/users/elastic/gists{/gist_id}","starred_url":"https://api.github.com/users/elastic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/elastic/subscriptions","organizations_url":"https://api.github.com/users/elastic/orgs","repos_url":"https://api.github.com/users/elastic/repos","events_url":"https://api.github.com/users/elastic/events{/privacy}","received_events_url":"https://api.github.com/users/elastic/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/elastic/beats","description":":tropical_fish:
      Beats - Lightweight shippers for Elasticsearch & Logstash ","fork":false,"url":"https://api.github.com/repos/elastic/beats","forks_url":"https://api.github.com/repos/elastic/beats/forks","keys_url":"https://api.github.com/repos/elastic/beats/keys{/key_id}","collaborators_url":"https://api.github.com/repos/elastic/beats/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/elastic/beats/teams","hooks_url":"https://api.github.com/repos/elastic/beats/hooks","issue_events_url":"https://api.github.com/repos/elastic/beats/issues/events{/number}","events_url":"https://api.github.com/repos/elastic/beats/events","assignees_url":"https://api.github.com/repos/elastic/beats/assignees{/user}","branches_url":"https://api.github.com/repos/elastic/beats/branches{/branch}","tags_url":"https://api.github.com/repos/elastic/beats/tags","blobs_url":"https://api.github.com/repos/elastic/beats/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/elastic/beats/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/elastic/beats/git/refs{/sha}","trees_url":"https://api.github.com/repos/elastic/beats/git/trees{/sha}","statuses_url":"https://api.github.com/repos/elastic/beats/statuses/{sha}","languages_url":"https://api.github.com/repos/elastic/beats/languages","stargazers_url":"https://api.github.com/repos/elastic/beats/stargazers","contributors_url":"https://api.github.com/repos/elastic/beats/contributors","subscribers_url":"https://api.github.com/repos/elastic/beats/subscribers","subscription_url":"https://api.github.com/repos/elastic/beats/subscription","commits_url":"https://api.github.com/repos/elastic/beats/commits{/sha}","git_commits_url":"https://api.github.com/repos/elastic/beats/git/commits{/sha}","comments_url":"https://api.github.com/repos/elastic/beats/comments{/number}","issue_comment_url":"https://api.github.com/repos/elastic/beats/issues/comments{/number}","contents_url":"https://api.github.com/repos/elastic/beats/contents/{+path}","compare_url":"https://api.github.com/repos/elastic/beats/compare/{base}...{head}","merges_url":"https://api.github.com/repos/elastic/beats/merges","archive_url":"https://api.github.com/repos/elastic/beats/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/elastic/beats/downloads","issues_url":"https://api.github.com/repos/elastic/beats/issues{/number}","pulls_url":"https://api.github.com/repos/elastic/beats/pulls{/number}","milestones_url":"https://api.github.com/repos/elastic/beats/milestones{/number}","notifications_url":"https://api.github.com/repos/elastic/beats/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/elastic/beats/labels{/name}","releases_url":"https://api.github.com/repos/elastic/beats/releases{/id}","deployments_url":"https://api.github.com/repos/elastic/beats/deployments","created_at":"2014-02-05T19:01:02Z","updated_at":"2022-06-10T06:48:40Z","pushed_at":"2022-06-10T06:52:08Z","git_url":"git://github.com/elastic/beats.git","ssh_url":"git@github.com:elastic/beats.git","clone_url":"https://github.com/elastic/beats.git","svn_url":"https://github.com/elastic/beats","homepage":"https://www.elastic.co/products/beats","size":395215,"stargazers_count":11081,"watchers_count":11081,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":4460,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1085,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":["filebeat","heartbeat","metricbeat","packetbeat","winlogbeat"],"visibility":"public","forks":4460,"open_issues":1085,"watchers":11081,"default_branch":"main"}},"base":{"label":"elastic:8.1","ref":"8.1","sha":"b0f187f6d76776b389ccb36934ff823eebfb7290","user":{"login":"elastic","id":6764390,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY3NjQzOTA=","avatar_url":"https://avatars.githubusercontent.com/u/6764390?v=4","gravatar_id":"","url":"https://api.github.com/users/elastic","html_url":"https://github.com/elastic","followers_url":"https://api.github.com/users/elastic/followers","following_url":"https://api.github.com/users/elastic/following{/other_user}","gists_url":"https:/[...]
