---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/elastic/elastic-agent-changelog-tool/commits/9c995a2e397d346e68ea5052c54bcbd0f8b142ad/pulls
    method: GET
  response:
    body: '[{"url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/pulls/30","id":905742986,"node_id":"PR_kwDOGT8FXs41_IqK","html_url":"https://github.com/elastic/elastic-agent-changelog-tool/pull/30","diff_url":"https://github.com/elastic/elastic-agent-changelog-tool/pull/30.diff","patch_url":"https://github.com/elastic/elastic-agent-changelog-tool/pull/30.patch","issue_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/issues/30","number":30,"state":"closed","locked":false,"title":"Improve
      settings","user":{"login":"endorama","id":526307,"node_id":"MDQ6VXNlcjUyNjMwNw==","avatar_url":"https://avatars.githubusercontent.com/u/526307?v=4","gravatar_id":"","url":"https://api.github.com/users/endorama","html_url":"https://github.com/endorama","followers_url":"https://api.github.com/users/endorama/followers","following_url":"https://api.github.com/users/endorama/following{/other_user}","gists_url":"https://api.github.com/users/endorama/gists{/gist_id}","starred_url":"https://api.github.com/users/endorama/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/endorama/subscriptions","organizations_url":"https://api.github.com/users/endorama/orgs","repos_url":"https://api.github.com/users/endorama/repos","events_url":"https://api.github.com/users/endorama/events{/privacy}","received_events_url":"https://api.github.com/users/endorama/received_events","type":"User","site_admin":false},"body":"Improvements
      to `settings` package (fix linter and cleanup unnecessary code)\n\n","created_at":"2022-04-11T09:26:32Z","updated_at":"2022-04-11T12:53:08Z","closed_at":"2022-04-11T12:53:03Z","merged_at":"2022-04-11T12:53:03Z","merge_commit_sha":"9c995a2e397d346e68ea5052c54bcbd0f8b142ad","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/pulls/30/commits","review_comments_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/pulls/30/comments","review_comment_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/pulls/comments{/number}","comments_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/issues/30/comments","statuses_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/statuses/cd9f54562933405d10f881cfa89248b79fe80be0","head":{"label":"elastic:settings-improvements","ref":"settings-improvements","sha":"cd9f54562933405d10f881cfa89248b79fe80be0","user":{"login":"elastic","id":6764390,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY3NjQzOTA=","avatar_url":"https://avatars.githubusercontent.com/u/6764390?v=4","gravatar_id":"","url":"https://api.github.com/users/elastic","html_url":"https://github.com/elastic","followers_url":"https://api.github.com/users/elastic/followers","following_url":"https://api.github.com/users/elastic/following{/other_user}","gists_url":"https://api.github.com/users/elastic/gists{/gist_id}","starred_url":"https://api.github.com/users/elastic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/elastic/subscriptions","organizations_url":"https://api.github.com/users/elastic/orgs","repos_url":"https://api.github.com/users/elastic/repos","events_url":"https://api.github.com/users/elastic/events{/privacy}","received_events_url":"https://api.github.com/users/elastic/received_events","type":"Organization","site_admin":false},"repo":{"id":423560542,"node_id":"R_kgDOGT8FXg","name":"elastic-agent-changelog-tool","full_name":"elastic/elastic-agent-changelog-tool","private":false,"owner":{"login":"elastic","id":6764390,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY3NjQzOTA=","avatar_url":"https://avatars.githubusercontent.com/u/6764390?v=4","gravatar_id":"","url":"https://api.github.com/users/elastic","html_url":"https://github.com/elastic","followers_url":"https://api.github.com/users/elastic/followers","following_url":"https://api.github.com/users/elastic/following{/other_user}","gists_url":"https://api.github.com/users/elastic/gists{/gist_id}","starred_url":"https://api.github.com/users/elastic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/elastic/subscriptions","organizations_url":"https://api.github.com/users/elastic/orgs","repos_url":"https://api.github.com/users/elastic/repos","events_url":"https://api.github.com/users/elastic/events{/privacy}","received_events_url":"https://api.github.com/users/elastic/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/elastic/elastic-agent-changelog-tool","description":"Tooling
      to manage the changelog for beats, Elastic Agent and Fleet Server","fork":false,"url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool","forks_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/forks","keys_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/keys{/key_id}","collaborators_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/teams","hooks_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/hooks","issue_events_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/issues/events{/number}","events_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/events","assignees_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/assignees{/user}","branches_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/branches{/branch}","tags_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/tags","blobs_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/git/refs{/sha}","trees_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/git/trees{/sha}","statuses_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/statuses/{sha}","languages_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/languages","stargazers_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/stargazers","contributors_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/contributors","subscribers_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/subscribers","subscription_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/subscription","commits_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/commits{/sha}","git_commits_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/git/commits{/sha}","comments_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/comments{/number}","issue_comment_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/issues/comments{/number}","contents_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/contents/{+path}","compare_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/compare/{base}...{head}","merges_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/merges","archive_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/downloads","issues_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/issues{/number}","pulls_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/pulls{/number}","milestones_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/milestones{/number}","notifications_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/labels{/name}","releases_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/releases{/id}","deployments_url":"https://api.github.com/repos/elastic/elastic-agent-changelog-tool/deployments","created_at":"2021-11-01T17:43:41Z","updated_at":"2022-03-15T09:52:21Z","pushed_at":"2022-04-11T14:00:34Z","git_url":"git://github.com/elastic/elastic-agent-changelog-tool.git","ssh_url":"git@github.com:elastic/elastic-agent-changelog-tool.git","clone_url":"https://github.com/elastic/elastic-agent-changelog-tool.git","svn_url":"https://github.com/elastic/elastic-agent-changelog-tool","homepage":null,"size":4204,"stargazers_count":1,"watchers_count":1,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":5,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":9,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":5,"open_issues":9,"watchers":1,"default_branch":"main"}},"base":{"label":"elastic:main","ref":"main","sha":"b1c34b88a3a00c464130653e6728a3fb206ef4ea","user":{"login":"elastic","id":6764390,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY3NjQzOTA=","avatar_url":"https://avatars.githubusercontent.com/u/6764390?v=4","gravatar_id":"","url":"https://api.github.com/users/elastic","html_url":"https://github.com/elastic","followers_url":"https://api.github.com/users/elastic/followers","following_url":"https://api.github.com/users/elastic/following{/other_user}","gists_url":"https[...]
