## {{.Version}} [{{.Repo}}-{{.Version}}-breaking-changes]
{{ if .BreakingChange -}}{{ range $k, $v := .BreakingChange }}{{ $k | header2 }}{{ range $item := $v }}

::::{dropdown} {{ $item.Summary | beautify }}
{{ if $item.Description }}{{ $item.Description }}{{ else }}% Describe the functionality that changed{{ end }}

For more information, check {{ linkPRSource $item.Component $item.LinkedPR }}{{ linkIssueSource $item.Component $item.LinkedIssue }}.

{{ if not $item.Impact }}% {{ end }}**Impact**<br>{{ if $item.Impact }}{{ $item.Impact }}{{ else }}_Add a description of the impact_{{ end }}

{{ if not $item.Action }}% {{ end }}**Action**<br>{{ if $item.Action }}{{ $item.Action }}{{ else }}_Add a description of the what action to take_{{ end }}
::::
{{- end }}{{- end }}{{ else }}
_No breaking changes._
{{- end }}
