## {{.Version}} [{{.Repo}}-release-notes-{{.Version}}]
{{ if or .KnownIssue .BreakingChange .Deprecation }}
{{ other_links }}{{- end }}
{{ if or .Feature .Enhancement .Security .BugFix }}
{{ if or .Feature .Enhancement }}
### Features and enhancements [{{.Repo}}-{{.Version}}-features-enhancements]
{{ $additions := combine .Feature .Enhancement }}{{ range $k, $v := $additions }}{{ header2 $k }}
{{ range $item := $v }}
* {{ $item.Summary | beautify }} {{ linkPRSource $item.Component $item.LinkedPR }} {{ linkIssueSource $item.Component $item.LinkedIssue }}{{ if $item.Description }}
{{ $item.Description | indent }}
{{- end }}
{{- end }}{{- end }}{{- end }}

{{ if or .Security .BugFix }}
### Fixes [{{.Repo}}-{{.Version}}-fixes]
{{ $fixes := combine .Security .BugFix }}{{ range $k, $v := $fixes }}{{ header2 $k }}
{{ range $item := $v }}
* {{ $item.Summary | beautify }} {{ linkPRSource $item.Component $item.LinkedPR }} {{ linkIssueSource $item.Component $item.LinkedIssue }}{{ if $item.Description }}
{{ $item.Description | indent }}
{{- end }}
{{- end }}{{- end }}{{- end }}
{{ else }}
_No new features, enhancements, or fixes._
{{- end }}
