---
version: 1
interactions:
- request:
    body: |
      {"query":"query($issuesLen:Int!$owner:String!$prID:Int!$repo:String!){repository(owner: $owner, name: $repo){pullRequest(number: $prID){closingIssuesReferences (first: $issuesLen){edges{node{number}}}}}}","variables":{"issuesLen":50,"owner":"elastic","prID":32501,"repo":"beats"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"pullRequest":{"closingIssuesReferences":{"edges":[{"node":{"number":32483}}]}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, project,
        repo, user, workflow, write:discussion, write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4998"
      X-Ratelimit-Reset:
      - "1659108224"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "2"
    status: 200 OK
    code: 200
    duration: ""
