name: Generate release notes

on:
  workflow_call:
    inputs:
      bc_commit_sha:
        description: 'Commit SHA for the build candidate'
        type: string
        required: true
      version:
        description: 'Version to be released (for example, `9.2.1`)'
        type: string
        required: true
      product:
        description: 'Product name (for example, `Elastic Agent`)'
        type: string
        required: true
      labels:
        description: 'Comma-separated list of GitHub labels to add to the PR'
        type: string
        required: true
      branching_model:
        description: 'The branch from which content is published to the docs site'
        type: string
        required: true
        default: '`main`'
      release_manager:
        description: 'GitHub user who triggered the workflow'
        type: string
        required: true
jobs:
  build-release-notes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.bc_commit_sha }}
      - name: Fetch ephemeral GitHub token
        id: fetch-ephemeral-token
        uses: elastic/ci-gh-actions/fetch-github-token@v1.0.0
        with:
          vault-instance: "ci-prod"
      - name: Generate release notes
        run: |
          GOBIN=$PWD/bin go install github.com/elastic/elastic-agent-changelog-tool@latest
          ./bin/elastic-agent-changelog-tool build --version "${VERSION}"
          ./bin/elastic-agent-changelog-tool cleanup || true
          ./bin/elastic-agent-changelog-tool render --version "${VERSION}"
        env:
          VERSION: ${{ inputs.version }}
          GITHUB_TOKEN: ${{ steps.fetch-ephemeral-token.outputs.token }}
      - name: Get minor
        id: get-minor
        uses: actions/github-script@v8
        with:
          script: return "${{ inputs.version }}".replace(/^(\d+\.\d+).+$/m, "$1")
          result-encoding: string
      - name: Make checklist body
        id: make-checklist
        uses: actions/github-script@v8
        with:
          script: |
            if (/^8\./.test("${{ inputs.version }}")) {
              if ("${{ github.repository }}" === "elastic/beats") {
                return process.env.BEATS_8
              } else {
                return process.env.EA_FLEET_8
              }
            } else if (/^9\./.test("${{ inputs.version }}")) {
              return process.env.BEATS_EA_FLEET_9
            } else {
              return ""
            }
          result-encoding: string
        env:
          EA_FLEET_8: |
            - [ ] @${{ inputs.release_manager }} review this PR to make sure the correct items are included
            - [ ] @elastic/ingest-docs review the language
            - [ ] @elastic/ingest-docs open a PR in the ingest-docs repo combining the Elastic Agent and Fleet Server release notes targeting the `${{ steps.get-minor.outputs.result }}` branch
            - [ ] @${{ inputs.release_manager }} merge on release day
            - [ ] @elastic/ingest-docs merge PR in the ingest-docs repo. No forward or backports are needed.
          BEATS_8: |
            - [ ] @${{ inputs.release_manager }} review this PR to make sure the correct items are included
            - [ ] @elastic/ingest-docs review the language
            - [ ] @elastic/ingest-docs copy generated content to the `CHANGELOG.asciidoc` file
            - [ ] @${{ inputs.release_manager }} merge on release day
          BEATS_EA_FLEET_9: |
            - [ ] @${{ inputs.release_manager }} review this PR to make sure the correct items are included
            - [ ] @elastic/ingest-docs review the language
            - [ ] @${{ inputs.release_manager }} merge on release day
            - [ ] @${{ inputs.release_manager }} merge any backport or forwardport PRs as soon as possible
                * Note: In this repo, we publish from the ${{ inputs.branching_model }} branch. The changes in this PR will not be available on the docs site until they are added to the ${{ inputs.branching_model }} branch.
      - name: Open PR
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e #v7.0.8
        with:
          token: ${{ steps.fetch-ephemeral-token.outputs.token }}
          commit-message: add the ${{ inputs.version }} ${{ inputs.product }} release notes
          branch: release-notes-${{ inputs.version }}
          base: ${{ steps.get-minor.outputs.result }}
          add-paths: |
            changelog/
            docs/
          labels: ${{ inputs.labels }}
          title: "Add ${{ inputs.product }} ${{ inputs.version }} release notes"
          body: |
            Adds ${{ inputs.product }} ${{ inputs.version }} release notes.

            ## Checklist

            ${{ steps.make-checklist.outputs.result }}
