---
name: Pull request checks

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - run: |
          gv=$(cat .go-version)
          echo "::set-output name={go}::{$gv}"
        id: version

      - name: install Go
        uses: actions/setup-go@v1
        with:
          go-version: "${{steps.version.outputs.go}}"

      - name: check go.mod
        # tidy go mod and check for differences
        run: "go mod tidy && git diff --exit-code"

      - name: check format
        # exit with 0 only if gofmt returns 0 lines
        run: "exit $(gofmt | wc -l)"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.33

  license:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - run: |
          gv=$(cat .go-version)
          echo "::set-output name={go}::{$gv}"
        id: version

      - name: install Go
        uses: actions/setup-go@v1
        with:
          go-version: "${{steps.version.outputs.go}}"

      - name: check license
        # -d returns files without proper header
        run: "go run github.com/elastic/go-licenser -license Elasticv2 -d"
